@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SignikaNegative';
    src: url('../assets/fonts/SignikaNegative-SemiBold.ttf');
}
@font-face {
    font-family: 'SignikaNegative-Light';
    src: url('../assets/fonts/SignikaNegative-Light.ttf');
}

body{
    font-family: 'SignikaNegative-Light';
    // color:rgb(117, 117, 117);
    font-size:18px;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'SignikaNegative';
    // color:rgb(97, 96, 96);
}

.header-container{
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/images/refugee-childern.jpeg');
        background-size: 100% 100%;
        background-size: cover;
    background-position: center;
}
.causes-header{
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/images/refugee-childern.jpeg');
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.form{
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/images/children.jpeg');
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}



.rec.rec-arrow{
    background-color: transparent !important;
    border:none !important;
    color:#fff !important;
    box-shadow:none !important;
    position:absolute;
    z-index: 20;
}

.rec.rec-arrow-right{
    right:0;
}
.rec.rec-arrow-left{
    left:0;
}


/*  start of refugee slider style */
.camps-carousel .rec.rec-arrow{
    background-color: transparent !important;
    border:none !important;
    color:#fff !important;
    box-shadow:none !important;
    position:absolute;
    z-index: 20;
}
/* .camps-carousel .rec.rec-arrow-left{
    left:.5rem;
} */
img{
    width:100%;
    height:100%;
}



.custom-shape-divider-bottom-1640907769 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
        position: relative;
        display: block;
        width: calc(174% + 1.6px);
        height: 155px;
    }
    .shape-fill {
        fill: rgb(255, 255, 255);
    }
}


.custom-shape-divider-top-1640907434 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(150% + 1.3px);
        height: 100px;
    }
    .shape-fill {
        fill: rgb(255, 255, 255);
    }
}


@media screen and (max-width:950px) {
    
    /*  start of refugee slider style */
    .rec.rec-arrow{
        font-size: 1rem;
        color:#333 !important;
    }
    .camps-carousel .rec.rec-arrow{
        font-size: 1rem;
        color:rgb(31, 30, 30) !important;
    }

    .custom-shape-divider-top-1640907434 {
        svg {
            width: calc(170% + 1.9px);
            height: 50px;
        }
    }
}
