@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Staatliches';
    src: url('./assets/fonts/Staatliches-Regular.ttf');
}
@font-face {
    font-family: 'Southmore';
    src: url('./assets/fonts/Southmore.ttf');
}
@font-face {
    font-family: 'SignikaNegative';
    src: url('./assets/fonts/SignikaNegative-SemiBold.ttf');
}
@font-face {
    font-family: 'SignikaNegative-Light';
    src: url('./assets/fonts/SignikaNegative-Light.ttf');
}

body{
    font-family: 'SignikaNegative-Light';
    color:rgb(117, 117, 117);

}

h1,h2,h3,h4,h5,h6{
    font-family: 'SignikaNegative';
    color:rgb(97, 96, 96);
}

.header-container{
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./assets/images/charlein-gracia--Ux5mdMJNEA-unsplash.jpg');
        background-size: 100% 100%;
        background-size: cover;
    background-position: center;
}
.causes-header{
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./assets/images/charlein-gracia--Ux5mdMJNEA-unsplash.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}



.rec.rec-arrow{
    background-color: transparent !important;
    border:none !important;
    color:#fff !important;
    box-shadow:none !important;
    position:absolute;
    z-index: 200;
}

.rec.rec-arrow-right{
    right:0;
}
.rec.rec-arrow-left{
    left:0;
}


/*  start of refugee slider style */
.camps-carousel .rec.rec-arrow{
    background-color: transparent !important;
    border:none !important;
    color:#fff !important;
    box-shadow:none !important;
    position:absolute;
    z-index: 200;
}
/* .camps-carousel .rec.rec-arrow-left{
    left:.5rem;
} */
img{
    width:100%;
    height:100%;
}

@media screen and (max-width:950px) {
    
    /*  start of refugee slider style */
    .camps-carousel .rec.rec-arrow{
        font-size: 1rem;
    }
}